@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@layer components {
  ::-webkit-scrollbar {
    @apply w-2.5 rounded-[10px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-[10px];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#b366ff] rounded-[10px] hover:bg-[#8d19ff];
  }

  .nav,
  .navbar {
    @apply flex h-full items-center justify-between;
  }
  .link {
    @apply text-base text-[#9665dd] font-semibold transition-[0.3s] mx-[15px] hover:text-[#5f3c91] hover:underline;
  }
  .link.active{
    @apply text-[#5f3c91] underline;
  }
}
